body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

form {
    max-width: 400px;
    margin: 0 auto;
    background: #ffffff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    margin-bottom: 5px;
}

legend {
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #cdcdcd;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    max-height: 100px;
}

.checkbox-group {
    vertical-align: top;
}

button {
    background-color: #3939b1;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin: 3px;
}

.button {
    display: flex;
}

button:hover {
    background-color: #0056b3;
}